
*{box-sizing:border-box}
body{
    margin:0;
    font-family: 'poppins';
    background:#FFF5E4;
}

/* WRAPPER */
.wrapper{
    max-width:1050px;
    margin:50px auto;
    background:#fff;
    border-radius:32px;
    overflow:hidden;
    box-shadow:0 25px 50px rgba(0,0,0,.08);
}

/* HEADER */
.header{
    background:#EE6983;
    padding:24px;
    color:#fff;
    text-align:center;
    font-weight:600;
    position:relative;
}
.back{
    position:absolute;
    left:22px;
    top:22px;
    color:#fff;
}

/* CONTENT */
.content{
    padding:20px;
    background-color: #FFCECB;
}


/* TOP */
.profile-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}
.profile-info{
    display:flex;
    gap:18px;
    align-items:center;
}
.avatar{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #F26A8D;
}

/* BUTTON */
.save-btn{
    background:linear-gradient(135deg,#F26A8D,#FF9A9E);
    color:#fff;
    border:none;
    padding:12px 30px;
    border-radius:30px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.save-btn:hover{box-shadow:0 10px 25px rgba(242,106,141,.35)}
.save-btn:active{transform:scale(.96)}

/* FORM */
.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}
.field label{
    font-size:13px;
    font-weight:600;
    margin-bottom:6px;
    display:block;
}
.field input,.field select,.field textarea{
    width:100%;
    padding:14px 18px;
    border-radius:18px;
    border:1px solid #eee;
    outline:none;
    transition:.25s;
}
.field input:focus,.field select:focus,.field textarea:focus{
    border-color:#F26A8D;
    box-shadow:0 0 0 3px rgba(242,106,141,.15);
}
.field textarea{
    resize:none;
    height:80px;
}

/* EMAIL */
.email-box{
    margin-top:30px;
    background:#FFF1F4;
    padding:10px;
    border-radius:22px;
}
.email-row{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:10px;
}
.email-icon{
    width:45px;height:45px;
    background:#F26A8D;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
}

/* RESPONSIVE */
@media(max-width:768px){
    .content{padding:25px}
    .profile-top{flex-direction:column;gap:20px}
    .form-grid{grid-template-columns:1fr}
}
