
:root{
    --primary:#EE6983;
    --bg:#FFF5E4;
    --card:#ffffff;
    --danger:#EF4444;
    --gray:#850E35;
    --green:#16A34A;
}
*{box-sizing:border-box}
body{
    margin:0;
    font-family:'poppins',sans-serif;
    background:var(--bg);
    color:#111827;
}
.container{
    max-width:1200px;
    margin:auto;
    padding:24px;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;
    margin-bottom:24px
}
.header h1{
    margin:0;
    color:var(--gray);
    font-size:26px
}
.back{
    background:#fff;
    padding:10px 18px;
    border-radius:12px;
    text-decoration:none;
    color:var(--gray);
    font-weight:600;
    box-shadow:0 4px 12px rgba(0,0,0,.08)
}

/* STATS */
.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:16px;
    margin-bottom:24px
}
.stat{
    padding:20px;
    border-radius:18px;
    background:#FFC4C4;
    box-shadow:0 15px 15px rgba(0,0,0,.25);
}
.stat small{color:var(--gray)}
.stat h2{margin:6px 0;color:#fff}

/* FILTER */
.filter{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-bottom:20px;
    margin-top:40px
}
.filter select{
    padding:12px;
    border-radius:12px;
    border:1px solid #E5E7EB;
    min-width:140px
}
.filter button{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px 26px;
    border-radius:12px;
    font-weight:600
}

/* TABLE */
.table-box{
    background:var(--card);
    padding:20px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    overflow-x:auto;
}
table{
    width:100%;
    border-collapse:collapse;
    min-width:750px
}
th{
    text-align:left;
    font-size:13px;
    color:var(--gray);
    padding-bottom:12px
}
td{
    padding:14px 0;
    border-bottom:1px solid #E5E7EB
}
tr:hover{background:#F9FAFB}

.badge{
    padding:6px 14px;
    border-radius:999px;
    font-size:12px;
    color:white
}
.in{background:var(--green)}
.out{background:var(--danger)}

.total{
    font-weight:700
}

@media(max-width:600px){
    .header h1{font-size:22px}
}
