

:root{
    --primary:#EE6983;
    --bg:#FFF5E4;
    --card:#ffffff;
    --danger:#EF4444;
    --gray:#850E35;
}
*{box-sizing:border-box}
body{
    margin:0;
    font-family:'poppins',sans-serif;
    background:var(--bg);
    color:#111827;
}
.container{max-width:1200px;margin:auto;padding:24px}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;
    margin-bottom:24px
}
.header h1{margin:0;
    color:var(--gray);
    font-size:26px
}
.back{
    background:#fff;
    padding:10px 18px;
    border-radius:12px;
    text-decoration:none;
    color:var(--gray);
    font-weight:600;
    box-shadow:0 4px 12px rgba(0,0,0,.08)
}

/* STATS */
.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:16px;
    margin-bottom:24px
}
.stat{
    padding:20px;
    border-radius:18px;
    background:#FFC4C4 ;
  box-shadow:0 15px 15px rgba(0, 0, 0, 0.25);
}
.stat small{color:var(--gray)}
.stat h2{margin:6px 0;color:#ffff}

/* FILTER */
.filter{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-bottom:20px;
    margin-top:50px
}
.filter input,.filter select{
    padding:12px;
    border-radius:12px;
    border:1px solid #E5E7EB;
    flex:1;
    min-width:160px
}
.filter button{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px 26px;
    border-radius:12px;
    font-weight:600
}

/* FORM */
.form-edit{
    background:var(--card);
    padding:24px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    margin-bottom:24px
}
.form-edit input,.form-edit select{
    width:100%;
    padding:12px;
    margin-bottom:14px;
    border-radius:12px;
    border:1px solid #E5E7EB
}
.form-edit button{
    background:var(--primary);
    color:white;
    border:none;
    padding:12px 26px;
    border-radius:12px;
    font-weight:600
}

/* TABLE */
.table-box{
    background:var(--card);
    padding:20px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    overflow-x:auto;
}
table{width:100%;border-collapse:collapse;min-width:700px}
th{
    text-align:left;
    font-size:13px;
    color:var(--gray);
    padding-bottom:12px
}
td{
    padding:14px 0;
    border-bottom:1px solid #E5E7EB
}
tr:hover{background:#F9FAFB}

.badge{
    padding:6px 16px;
    border-radius:999px;
    font-size:12px;
    color:white
}
.admin{background:var(--primary)}
.user{background:#9CA3AF}

.btn{
    padding:8px 14px;
    border-radius:10px;
    font-size:13px;
    text-decoration:none;
    font-weight:600;
    display:inline-block
}
.edit{background:#FFC4C4;color:var(--primary)}
.delete{background:#FEE2E2;color:#B91C1C}

/* MOBILE */
@media(max-width:600px){
    .header h1{font-size:22px}
}
